.chores {
    font-family: Arial, Helvetica, sans-serif
}

h3 {
    text-decoration: underline;
    color: rgb(10, 64, 82);
    font-weight: 500;
}

ul {
    color: rgb(94, 78, 58);
    font-style: italic;
    
}